body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
}

#popcat {
    cursor: pointer;
    position: relative;
}

#clickCount {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

#stage {
    font-size: 24px;
    margin: 30px;
}